.introCointainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 100px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  .introInformation {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 15ch;
    width: 50em;
    .introTitle {
      color: #5b5b5b;
      font-size: 14px;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 50px;
      letter-spacing: 0.2px;
    }
    .introDescription {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.5;
      color: #5b5b5b;
    }
  }
  .introImage {
    width: 380px;
    height: 250px;
    margin-top: 15ch;
    margin-left: 30px;
  }
  .introButtonContainer {
    .navButton {
      border-style: none;
      font-weight: bold;
      border-radius: 50px;
      padding: 13px 29px;
      font-size: 14px;
      line-height: normal;
      overflow: hidden;
      transition: all 0.4s ease;
    }
    .glanceButton {
      background-color: #5b5b5b;
      color: #eee;
      margin-left: 20px;
    }
    .downloadButton {
      background: #eee;
      color: #5b5b5b;
      padding-inline: 50px;
    }
  }
}
