.slidesCointainer {
  .headingSlide {
    color: #7a4a4a;
    font-size: 2.4em;
    font-weight: bold;
    flex-direction: column;
    margin-left: 5ch;
    width: 50em;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
