.slidesCointainer {
  text-align: center;
  .headingSlide {
    color: #7a4a4a;
    font-size: 2.4em;
    font-weight: bold;
    margin-top: 5ch;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
